<div class="modal">
  <ion-header-bar>
    <h1 class="title">Validar código de promoção</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios7-close-empty" ng-click="closeLogin()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Código</span>
          <input type="text" ng-model="loginData.username">
        </label>
      </div>
        <div class="padding">
          <button class="button button-block button-positive" type="submit">verificar</button>
        </div>
    </form>
  </ion-content>
</div>

